/*HEADER*/
body{
	padding-top: 50px
}
.header{
	height: 80px;
}
.header-div{
       width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 80px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.header-title{
  font-size: 25px;
  font-family: 'Merriweather', serif;
}
.ul{
       display: -webkit-box;
       display: -ms-flexbox;
       display: flex;
    font-size: 20px;
}
.nav-li{

}
.nav-a{
  margin-left: 80px;
    color: #A9A9A9;
}
@media(max-width:  860px){
	.ul{
		display: none;
	}
	.header-title {
    margin: 20px;
}
.image1 {
        /* width: 700px; */
    margin: 20px;
    }
    .box-2{
    	-ms-flex-wrap: wrap;
    	    flex-wrap: wrap;
    	height: 1200px;
    }
    .p-1 {
   
    width: 650px;
}
.small-box2 {
    
    margin-right: 110px;
}
.box-3{
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	
}
.box3-section {
  margin-top: 20px;
    height: 700px;
}
}
/*BOX1*/
.box-1{
   max-width: 1227px;
    margin: 0 auto;
}
.image1{
   width: 950px;
    height: 409px;
   
    margin-top: 8px;
}
.title1{
	font-size: 23px;
    margin-left: 100px;
    margin-top: 20px;
    font-family: 'Open Sans Condensed', sans-serif;
}
.h5-1{
  font-size: 15px;
    margin-top: 71px;
    margin-left: 100px;
}
.p-1{
  width: 972px;
    margin: 20px auto;
}
.comment{
   margin-left: 128px;
    margin-top: 35px;
    font-size: 15px;
}
.section1{

}
.image-div{
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
@media(max-width: 980px){
	.p-1 {
        margin: 20px;
    width: 700px;
}
  .title1, .h5-1{
  	margin-left: 20px;
  }
.comment {
    margin-left: 20px;
}

}
@media(max-width: 600px){
	.p-1 {
   
    width: 640px;
}
}

/*BOX2*/
.box-2{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 50px;
    
        max-width: 1170px;
width: 100%;
margin: 0 auto;
}

.small-box{
       width: 400px;
    margin-right: 101px;
}
.smallbox-img{
	height: 306px;
    width: 385px;
}
.smallbox-h5{
       font-size: 15px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.smallbox-title{
	font-size: 25px;
    margin-bottom: 20px;
    font-family: 'Open Sans Condensed', sans-serif;
 }
.smallbox-p{
  width: 400px;
}
.small-box2{
  width: 400px;
}
.small-box2-image{
  height: 300px;
    width: 322px;
}
.smallbox2-h5{
  font-size: 15px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.smallbox2-title{
  font-size: 25px;
    margin-bottom: 20px;
    font-family: 'Open Sans Condensed', sans-serif;
}
.smallbox2-p{
  
    margin-bottom: 20px;
}
.section1 {
    max-width: 1170px;
    margin: 0 auto;
    width: 100%;
}


/*FORM*/
.section{
	max-width: 1170px;
    height: 200px;
    background: aqua;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color:#D3D3D3 ;
}
.form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
        height: 100px;
}
.label{
  font-size: 28px;
    margin: 10px auto;
     font-family: 'Merriweather', serif;
}
.input{
	outline: none;
    background-color:#D3D3D3;
    border-bottom: 3px solid;
    width: 314px;
    margin-top: 54px;
}

/*BOX3*/
.box-3{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
    max-width: 1170px;
    margin: 88px auto;
    margin-bottom: 0px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
.box3-section{
  width: 400px;
}
.box3-img{
     height: 430px;
     border: 2px solid;
}
.box3-h5{
  font-size: 15px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.box3-title{
  font-size: 25px;
    margin-bottom: 20px;
    font-family: 'Open Sans Condensed', sans-serif;
}
.box3-p{
  width: 342px;
}
.box3-img2{

}
.box3-h5-2{
  font-size: 15px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.box3-title2{
   font-size: 25px;
    margin-bottom: 20px;
    font-family: 'Open Sans Condensed', sans-serif;
}
.box3-p2{
  width: 347px;
}


.div-button{
  height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}
.button{
      height: 50px;
    width: 151px;
    font-size: 20px;
     font-family: 'Merriweather', serif;
}


.footer{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    font-size: 15px;
    height: 70px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: aliceblue;
    margin-top: 20px;
    width: 100%;
    font-family: 'Manuale', serif;
}
.footer-div{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.privacy{
  margin-left: 10px;
}

